@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Fonts */

@font-face {
  font-family: 'InterVariable';
  src: url('/fonts/InterVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoVF.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Gambarino';
  src: url('/fonts/Gambarino-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

.toc-level {
  padding-bottom: 6px;
}